body{
    background-color: #595260;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;

}
.navbar{
    align-items: center;
    text-align: center;

}
.navbar:hover>ul>li{
    filter:blur(1px);
    opacity:.6;
    transform: scale(.98);
    box-shadow:none;
}
.navbar:hover>ul>li:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
.navbar>h1{
    display: inline-block;
    margin-bottom: 30px;
    
}
.navbar>ul{
    list-style-type: none;    display: inline-block;
    align-items: center;
    
}
.navbar>ul>li{
    display: inline-block;
    position: relative;
    /* padding: 13px;
    padding-right: 45px; */
    margin:0 20px;
    padding:0%;

}
.navbar>ul>li>a{
    color: white;
    text-decoration:none
}
.ozelders{
    display: inline-block;
    position: relative;
    padding-left: 280px;
}
.ozelders>a{   
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.grupdersi{
    display: inline-block;
    position: relative;
    padding-left: 40px;
}
.grupdersi>a{   
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
}
.urunler1{
    display: inline-block;
    position: relative;
    margin:0 20px;
}
.urunler1>img{
    margin:0 20px;
    padding-left: 100px;
    padding-bottom: 20px;
}
.urunler1>a{
    /* text-align: center; */
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 40px;
    padding-left: 120px; 
}
.urunler2{
    display: inline-block;
    position: relative;
    margin:0 20px;
}
.urunler2>img{
    margin:0 20px;
    padding-left: 100px;
    padding-bottom: 20px;
}
.urunler2>a{
    /* text-align: center; */
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 40px;
    padding-left: 150px; 
}
.hakkimizda{
    width: 700px;
    text-align: center;
    align-items: center;
    background-color: #B2B1B9;
    /* display: flex;             */
    justify-content: center; 
    margin: auto;

}
